## Ignore File ##

__pycache__
.DS_Store
.vscode

*.tar.gz
*.pth
*.pkl

*.mat
*.jpg
*.txt
*.json

## tensorboard
*.khosungpil-System-Product-Name

# Folder
datasets
tensorboard*
pretrained*
checkpoints*
result*

pascal_voc.py

# Cython module
*.cu.o
*.so
